@import '../bower_components/susy/sass/susy';
@import '../bower_components/normalize-scss/_normalize.scss';

//@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap'; // Boostrap
// Resets
//@import '_custom-bootstrap.scss';
@font-face{
    src: url(Oswald-Medium.ttf);
    font-family: Oswald-Medium;
}
@font-face{
    src: url(../fonts/oswald.light.ttf);
    font-family: oswald-light;
}
@font-face{
    src: url(../fonts/helvetica-condensed-bold_0.ttf);
    font-family: helvetica-condensed-bold;
}
/*  ------------------------------------------
    Susy settings
    ------------------------------------------  */
$susy: (
flow: ltr, // ltr | rtl
output: float, // float | isolate
math: fluid, // fluid | static (requires column-width)
column-width: false, // false | value
container: 1366px, // length or % | auto
container-position: center, // left | center | right | <length> [*2] (grid padding)
last-flow: to, //from | to
columns: 12,
gutters: 1/4,
gutter-position: after, // before | after | split | inside | inside-static (requires column-width)
global-box-sizing: border-box, // content-box | border-box (affects inside/inside-static)
debug: (
image: hide, //hide | show
color: rgba(#66f, .25),
output: background, // background | overlay
toggle: top left, //top left  | top right
),
use-custom: (
background-image: true, // look for background-image mixin
background-options: false, // look for background-size, -origin and -clip and other compass/bourbon mixins
box-sizing: true, // look for custom bix sizing mixin
clearfix: false, // true = look for internal clearfix before using micro clearfix
rem: true, // look for rem mixin
)
);

$gallery_layout: layout( 12 .125 fluid float after);

$nav_layout: layout( 12 0 fluid float inside);

$golden_layout: layout( (1 1.618 2.618) .1 fluid float split);
/*  ------------------------------------------
    It makes your life easy!
    ------------------------------------------  */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
img {
    width: 100%;
    height: auto;
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
// nav {
//   margin: 0px 0;
//   text-align: center;
//   li {
//     background: #eee;
//   }
//   a {
//     display: block;
//     &:hover {
//       background: #ddd;
//     }
//   }
// }
/*  ------------------------------------------
    Colour codes! Indigo - Pinks
    ------------------------------------------  */
$color-primary-100: #C5CAE9;
$color-primary-500: #3F51B5;
$color-primary-700: #303F9F;
$color-secondary-200: #F48FB1;
$color-secondary-100: #F8BBD0;
$color-secondary-400: #EC407A;

$color-gray-900-darker: #212121;
$color-gray-700-dark: #616161;
$color-gray-500: #9E9E9E;
$color-gray-300-light: #E0E0E0;
$color-gray-100-lighter: #F5F5F5;
$color-gray-50-lightest: #FAFAFA;

//bootstrap colors
// @gray-darker:  lighten(#000, 13.5%); // #222
// @gray-dark:    lighten(#000, 20%);   // #333
// @gray:         lighten(#000, 33.5%); // #555
// @gray-light:   lighten(#000, 46.7%); // #777
// @gray-lighter: lighten(#000, 93.5%); // #eee

// @brand-primary: darken(#428bca, 6.5%); // #337ab7
// @brand-success: #5cb85c;
// @brand-info:    #5bc0de;
// @brand-warning: #f0ad4e;
// @brand-danger:  #d9534f;

/*  ------------------------------------------
    Breakpoints
    ------------------------------------------  */
// iPhone 6s plus 414px=25.9em         
// .. Tablet Layout Pattern (20em=320px) (old iPhone)26em=414px 48em=768px(iPad)  
$tablet-a: 27em;
$tablet-b: 48em;
// .. Desktop Layout Pattern
$desktop-a: 48em;
// .. Tablet Layout Pattern 20em=320px (old iPhone) 48em=768px(iPad)  
/* 
  @include susy-media($tablet-a $tablet-b) {
  @include susy-media(min-width $desktop-a) { 
*/

/*  ------------------------------------------
    Makes life easy code cont.
    ------------------------------------------  */
.debug {
    //border: 1px dashed red;

}
.wrap {
    @include container;
}
// wrap and content may together work
.contents {
    padding: 0 gutter();
}

//////////////////
$email-width: 640px;
$two-col-width: ($email-width)/2;

.full-width {
    width: $email-width;
    @media only screen and (max-width: 600px) {
        width:100% !important;
        height:auto;
    }
}
.two-col {
    width: $two-col-width;
    @media only screen and (max-width: 600px) {
        width:100% !important;
        height:auto;
    }
}

*[class="mobile-stack"] {
    display:block !important;
}
table.debug{
    width: 600px;
    height: auto;
}
.Bemorehead{
    font-family: "Arial";
    font-size: 20px;
    font-weight: 400;
    color: #231f20;
}
.bemoreTwo{
    font-size: 50px;
    color: #231f20;
    font-family: "Arial";
    font-weight: 400;
}
.terms {
    font-family: "Arial";
    font-size: 8px;
    font-weight: 700;
    padding-bottom: 4px;
    padding-top: 9px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-decoration: underline;
}

.termsP,.termsP2{
    font-family: "Arial";
    font-weight: 400;
    font-size: 8px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #000000;
}
.termsP2{
    padding: 10px 0 18px;
}
.margL31{
    margin-left: 41px;
}