@font-face {
  src: url(../Fonts/Oswald-Medium.ttf);
  font-family: Oswald-Medium; }

@font-face {
  src: url(../Fonts/oswald.light.ttf);
  font-family: oswald-light; }

@font-face {
  src: url(../Fonts/helvetica-condensed-bold_0.ttf);
  font-family: helvetica-condensed-bold_0; }

.headerTitle h2 {
  font-size: 24px;
  font-family: Oswald-Medium;
  color: #fff !important;
  font-weight: 500;
  text-shadow: 1px 1px 12px #000000;
  margin: 0; }

.headerTitle h1 {
  font-size: 96px;
  font-family: oswald-light;
  font-weight: 100;
  color: #ebe739;
  text-shadow: 1px 1px 12px #000000;
  margin: 0;
  line-height: 1; }

.bodyTitle1 h3 {
  font-size: 19px;
  line-height: 27px;
  font-family: 'Arial';
  padding: 0 0px 0 24px;
  font-weight: 400;
  margin-top: 25px;
  padding-left: 28px;
  color: #000000;
  margin-bottom: 0; }

#templateColumns1 {
  width: 95%; }
  #templateColumns1 .paddBottom {
    padding-bottom: 20px;
    border-bottom: 2px solid #dddddd; }

.bodyIcon img {
  width: 36px;
  height: 30px;
  margin-top: -12px; }

.bodyIcon.bodyIcon1 img {
  border-right: 1px solid #dddddd;
  padding-right: 10px; }

.bodyTitle2 h3 {
  font-size: 13.5px;
  font-weight: 400;
  font-family: 'arial';
  padding-bottom: 14px; }
  .bodyTitle2 h3 span {
    font-weight: 600; }

.bookBtn img {
  width: 175px !important;
  height: auto;
  margin-right: 15px;
  margin-top: -13px; }

/*----------------------------shagor-------------*/
.maintable {
  width: 600px;
  height: auto;
  display: block;
  text-align: left;
  padding-left: 16px;
  padding-top: 20px; }

.Bemorehead {
  font-family: "Arial";
  font-size: 17.5px;
  font-weight: 400;
  color: #231f20;
  padding-bottom: 2px; }

.bemoreTwo h3 {
  font-size: 44px;
  color: #231f20;
  font-family: "Arial";
  font-weight: 400;
  margin: -9px 0 3px; }

.terms {
  font-family: "Arial";
  font-size: 7px;
  font-weight: 700;
  padding-bottom: 4px;
  padding-top: 9px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-decoration: underline; }

.termsP, .termsP2 {
  font-family: "Arial";
  font-weight: 400;
  font-size: 6.9px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #000000;
  text-align: justify;
  padding-right: 15px;
  padding-bottom: 12px; }

.margL31 {
  margin-left: 41px; }

.footerRow {
  background: #6F6D6E; }

.footerLogo1 img {
  width: 120px;
  height: auto;
  padding: 24px 26px 13px; }

.footerLogo2 img {
  width: 112px;
  height: auto;
  padding-right: 50px; }

.socailIcon h4 {
  font-size: 13px;
  color: #e0ff31;
  font-family: 'arial';
  text-transform: uppercase;
  margin-bottom: 7px; }

.socailIcon a {
  width: 17px;
  height: 17px;
  margin-left: 18px; }
